@model DATN_QLKS.Models.tblHoaDon

@{
    ViewBag.Title = "ChiTietHoaDon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<style>
    .form-horizontal .control-label {
        text-align: left !important;
    }
    .form-group {
        margin-bottom: 0px !important;
    }
</style>
<br />
<br />
<br />
<br />
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Thông tin hóa đơn số @Html.DisplayFor(model => model.ma_hd)</h3>
        </div>
        <div class="panel-body">
            <div class="card-body">
                <div class="table-responsive">
                    @using (Html.BeginForm("XacNhanThanhToan", "HoaDon"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.ma_hd)

                                    <div class="form-group">
                                        @Html.Label("Khách hàng", htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.tblPhieuDatPhong.tblKhachHang.ho_ten, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Nhân Viên", htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.tblNhanVien.ho_ten, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.ma_nv, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Số phòng", htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.tblPhieuDatPhong.tblPhong.so_phong, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.tblPhieuDatPhong.tblPhong.so_phong, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Ngày vào phòng", htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(m => m.tblPhieuDatPhong.ngay_vao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.tblPhieuDatPhong.ngay_vao, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Ngày dự kiến trả phòng", htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(m => m.tblPhieuDatPhong.ngay_ra, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.tblPhieuDatPhong.ngay_ra, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Ngày trả phòng", htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ngay_tra_phong, "", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Tiền Phòng", htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.tien_phong , "", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } }) 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Phụ thu", htmlAttributes: new { @class = "control-label col-md-8" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.phu_thu, "", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } }) 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <i class="fa fa-table"></i> Danh sách dịch vụ đã đặt
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover" cellspacing="0">
                                                <tr>
                                                    <th>
                                                        Tên dịch vụ
                                                    </th>
                                                    <th>
                                                        Giá
                                                    </th>
                                                    <th>
                                                        Đơn vị
                                                    </th>
                                                    <th>
                                                        Số lượng
                                                    </th>
                                                    <th>
                                                        Thành tiền
                                                    </th>
                                                </tr>
                                                @{
                                                    List<DATN_QLKS.Models.tblDichVuDaDat> ds = (List<DATN_QLKS.Models.tblDichVuDaDat>)ViewBag.list_dv;
                                                    List<double> tt = (List<double>)ViewBag.list_tt;
                                                    for (int i = 0; i < ds.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => ds[i].tblDichVu.ten_dv)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => ds[i].tblDichVu.gia) VND
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => ds[i].tblDichVu.don_vi)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => ds[i].so_luong)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => tt[i]) VND
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </table>

                                        </div>

                                    </div>

                                </div>
                                <h3>Tổng tiền dịch vụ</h3>
                                @Html.TextBox("tong_tien_dv", (Double)ViewBag.tien_dich_vu, new { @class = "form-control", @readonly = "readonly" })
                            </div>

                        </div>

                        <hr />
                        <div class="form-group">
                            @Html.Label("Tổng tiền (VND)", htmlAttributes: new { @class = "control-label col-md-8" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tong_tien, "", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } }) <br />
                            </div>
                        </div>         
                    }
                </div>
                <br />
                @if (Model.ma_tinh_trang == 1)
                {
                    <div class="alert alert-danger">Chưa thanh toán</div>
                }
                else
                {
                    <div class="alert alert-success">Đã thanh toán</div>
                }
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "HoaDon")
    </div>
</div>
<script language="javascript" type="text/javascript">function printDiv(divID) {
        var divElements = document.getElementById(divID).innerHTML;
        var oldPage = document.body.innerHTML;
        document.body.innerHTML =
            "<html><head><title></title></head><body>" +
            divElements + "</body>";
        window.print();
        document.body.innerHTML = oldPage;
    }</script>

